<header>
    <div class="logo">
        <a href="https://www.transitiongraphics.co.uk" title="Transition Graphics - Web design Gloucestershire"><img src="assets/img/transition-200x85.svg" alt="Transition Graphics - Web design Gloucestershire"></a>
    </div>
    <nav>
        <a href="/">Home</a>
        <a href="/">About</a>
        <a href="/" class="sub-nav">Blog</a>
        <a href="/" class="sub-nav">FAQs</a>
        <a href="/">Projects</a>
        <a href="/">Services</a>
        <a href="/" class="sub-nav">Web Design</a>
        <a href="/" class="sub-nav">Branding</a>
        <a href="/" class="sub-nav">Graphic Design</a>
        <a href="/" class="sub-nav">Pricing</a>
        <a href="/">Contact</a>
    </nav>
    <div class="header-contact">
        <div class="tel">
            <a href="tel:4401531888299" title="Contact Transition Graphics by phone">01531 888299</a>
        </div>
        <div class="email">
            <a href="mailto:grant@transitiongraphics.co.uk" title="Contact Transition Graphics by email">Send us an email</a>
        </div>
    </div>
</header>
