<header>
    <div class="logo">
        <a href="https://www.transitiongraphics.co.uk" title="Transition Graphics - Web design Gloucestershire"><img src="assets/img/transition-200x85.svg" alt="Transition Graphics - Web design Gloucestershire"></a>
    </div>
        <ul id="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <ul class="sub-menu">
                <li><a href="/">Blog</a></li>
                <li><a href="/">FAQs</a></li>
            </ul>
            <li><a href="/">Projects</a></li>
            <li><a href="/">Services</a></li>
            <ul class="sub-menu">
                <li><a href="/">Web Design</a></li>
                <li><a href="/">Branding</a></li>
                <li><a href="/">Graphic Design</a></li>
                <li><a href="/">Pricing</a></li>
            </ul>
            <li><a href="/">Contact</a></li>
        </ul>
    <div class="header-contact">
        <div class="tel">
            <a href="tel:4401531888299" title="Contact Transition Graphics by phone">01531 888299</a>
        </div>
        <div class="email">
            <a href="mailto:grant@transitiongraphics.co.uk" title="Contact Transition Graphics by email">Send us an email</a>
        </div>
    </div>
</header>
