header
    +span-columns(3)
    position: fixed
    top: 0
    bottom: 0
    left: 0
    height: 100%
    background: #171f2a
    z-index: 7777
    color: #fff

    a
        color: #fff
        text-decoration: none

    a:hover
        color: lighten($brand-primary, 20%)

.logo
    +span-columns(12)
    padding: 30px
    box-sizing: border-box
    margin: 0

    +mobile
        display: none

#menu
    +span-columns(12)
    list-style: none
    display: block
    box-sizing: border-box
    padding: 0
    margin: 0
    text-transform: uppercase
    font-weight: bold

    a
        display: block
        padding: 10px 10px 10px 30px
        box-sizing: border-box

        &:hover
            background-color: darken(#171f2a, 20%)

    .sub-menu
        list-style: none
        display: block
        box-sizing: border-box
        padding: 0
        margin: 0
        text-transform: lowercase
        font-weight: 400

        a
            display: block
            padding: 10px 10px 10px 45px
            box-sizing: border-box


.header-contact
    display: block
    padding: 30px
    box-sizing: border-box
    margin: 0

    .tel
        font-family: $serif-stack
        font-size: 1.75em
        font-weight: bold
        margin-bottom: 15px

    .email
        font-size: 1.75em
        font-weight: bold
